body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}

form {
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 120px;
    width: 20%;
    margin: auto;
    font-size: 30px;
    text-align: center;

}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


h1{
    font-size: 70px;
    text-align: center;
}

h2{
    font-size: 50px;
}

.name{
    font-size: 30px;
    font-weight: bold;
}

.message{
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

div{
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 20px;
    margin-bottom: 30px;
}


#messages{
    width: 30%;
    margin: auto;

}
